# Python caches
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.env

# Data & Database (User should provide their own data)
data/raw/*
data/chroma_db/
!data/raw/.gitkeep

# Reports
reports/*
!reports/.gitkeep

# IDE settings
.vscode/
.idea/

# Distribution / Packaging
*.egg-info/
dist/
build/